{% extends "base.html" %} {% block body %}
<div class="center" class="header">
	<h1 style="color: white !important">SheepStudentVue</h1>
	<p style="color: pink !important">
		This website serves as a frontend to the StudentVue gradebook for TESTING
	</p>
	<p style="color: pink !important">
		See <a href="/about" style="color: orange">About</a> for more information.
		<a href="/source-list" style="color: orange">Source Code</a>
	</p>
</div>
<br />
<form id="content" class="center" action="/" , method="post">
	<label>
		Username
		<input type="text" name="username" placeholder="Username" value="{{ username }}" />
	</label>
	<br />
	<label>
		Password
		<input type="password" name="password" placeholder="Password" value="{{ password }}" />
	</label>
	<br />
	<button type="submit">Login</button>
</form>

{% endblock %}
