{% extends "base.html" %} {% block body %}
<div id="content">
	<noscript>
		<h1>Sorry, this requires JavaScript to be enabled for the tabs to work.</h1>
	</noscript>

	<!-- Navbar -->
	<div class="course-tabs">
		{% for course in content["grades"] %}
		<button
			onclick="setCourseTab(event, `{{ course['name'] }}`)"
			class="tab-button"
			id="{{ course['name'] }} button"
		>
			{{ course["name"] }}
		</button>
		{% endfor %}
	</div>

	<!-- Content -->
	{% for course in content["grades"] %}
	<table class="course" id="{{ course['name'] }}" style="display: none">
		<tr>
			<th>Name</th>
			<th>Grade</th>
			<th>Due date</th>
			<th>Points</th>
			<th>Assigned date</th>
		</tr>
		{% for assignment in course["assignments"] %}
		<tr>
			<td>{{ assignment["name"] }}</td>
			<td>{{ assignment["grade"] }}%</td>
			<td>{{ assignment["due_date"] }}</td>
			<td>{{ assignment["points"] }}</td>
			<td>{{ assignment["assigned_date"] }}</td>
		</tr>
		{% endfor %}
	</table>
	{% endfor %}

	<!-- Nav buttons -->
	<form action="/" method="get">
		<button type="submit">Back to login</button>
	</form>
	<form action="/" method="post">
		<!-- Horrible security! -->
		<input type="hidden" name="username" value="{{ username }}" />
		<input type="hidden" name="password" value="{{ password }}" />
		<button type="submit">Re-fetch grades</button>
	</form>
</div>

<!-- Tabs -->
<script>
	function setCourseTab(event, course) {
		// Hide all courses
		const courseContent = document.querySelectorAll(".course");
		for (let courseIdx = 0; courseIdx < courseContent.length; courseIdx++) {
			courseContent[courseIdx].style.display = "none";
		}

		// Remove active tab classes
		const tabButtons = document.querySelectorAll(".tab-button");
		for (let buttonIdx = 0; buttonIdx < tabButtons.length; buttonIdx++) {
			tabButtons[buttonIdx].className = tabButtons[buttonIdx].className.replace(
				" active",
				""
			);
		}

		// Current tab
		document.getElementById(course).style.display = "block";
		event.currentTarget.className += " active";
	}

	// Set the first tab to be active
	setCourseTab(
		{
			currentTarget: document.getElementById(
				"{{ content['grades'][0]['name'] }} button"
			),
		},
		"{{ content['grades'][0]['name'] }}"
	);
</script>
{% endblock %}
