<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/style.css') }}"
		/>

		<title>SheepStudentVue</title>
	</head>
	<body>
		<div id="content">
			{% for course in content %}
			<fieldset class="course">
				<legend><h1>{{ course["name"] }}</h1></legend>
				<p>Period: {{ course["period"] }}</p>
				<p>Teacher: {{ course["teacher"] }}</p>
				<p>Grade: {{ course["grade"] }}%</p>
				{% for assignment in course["assignments"] %}
				<fieldset class="assignment">
					<legend><h4>{{ assignment["name"] }}</h4></legend>
					<p>Due Date: {{ assignment["due_date"] }}</p>
					<p>Grade: {{ assignment["grade"] }}%</p>
					<p>Points: {{ assignment["points"] }}</p>
					<p>Assigned date: {{ assignment["assigned_date"] }}</p>
					<p>Due date: {{ assignment["due_date"] }}</p>
				</fieldset>
				{% endfor %}
			</fieldset>
			{% endfor %}
		</div>
		<footer id="footer">
			All data comes from StudentVue. Credit to StudentVue.py for the API wrapper.
		</footer>
	</body>
</html>
