{% extends "base.html" %} {% block body %}
<fieldset id="content">
	<legend><h1>Enter old password</h1></legend>
	<p>
		If your password changed, you can now enter your old password to attempt and migrate all
		your encrypted versioning history.
	</p>
	<hr />
	<form action="/migrate-password" method="post">
		<label>Please enter your old password</label>
		<input type="password" name="password" />
		<button type="submit">Submit</button>
	</form>
	<!-- Nav buttons -->
	<nav>
		<form action="/clear-cookies" method="get">
			<button type="submit" class="nav-button">Log out</button>
		</form>
	</nav>
</fieldset>
{% endblock %}
