{% extends "base.html" %} {% block body %}
<fieldset id="content">
	<legend><h1>Password Mismatch</h1></legend>
	<p>
		<strong>Your password was validated by StudentVue and <em>is correct</em></strong
		>, but was not valid to decrypt your gradebook history directory.
		<strong>This usually occurs when your password changes.</strong>
	</p>
	<p>
		If you believe this to be in error and have not changed your password, contact the
		administrator of this page, for changing the encryption salt will also cause this.
	</p>
	<hr />
	<p>You have the following options:</p>
	<form action="/password-mismatch" method="post">
		<!-- Delete = 1
				 Continue = 2
				 Migrate = 3 -->
		<input class="inline" type="radio" name="option" id="continue" checked value="2" />
		<label class="inline" for="continue">
			Continue to StudentVue. Do not save this visit. This message will appear again upon next
			login and you will not be able to access history.
		</label>
		<br />
		<input class="inline" type="radio" name="option" id="migrate" value="3" />
		<label class="inline" for="migrate"
			>Migrate data. You will be redirected to the login page, at which
			<strong>you should log in with your old password.</strong> If successful, this message
			will cease.</label
		>
		<br />
		<input class="inline" type="radio" name="option" id="delete" value="1" />
		<label class="inline" for="delete"
			>Delete data. All versioning data will be removed permanently. This message will
			cease.</label
		>
		<br />
		<button class="inline" type="submit">Submit</button>
	</form>
	<!-- Nav buttons -->
	<nav>
		<form action="/clear-cookies" method="get">
			<button type="submit" class="nav-button">Log out</button>
		</form>
	</nav>
</fieldset>

{% endblock %}
