{% extends "base.html" %} {% block body %}
<div id="content">
	<table aria-describedby="Past grades">
		<tr>
			<th>Date</th>
			{% for course_name in courses %}
			<th>{{ course_name }}</th>
			{% endfor %}
		</tr>
		{% for entry in entries %}
		<tr>
			<form action="/past/{{ entry['id'] }}" method="post">
				<!-- Horrible security! -->
				<input type="hidden" name="username" value="{{ username }}" />
				<input type="hidden" name="password" value="{{ password }}" />
				<td><button type="submit">{{ entry["date"] }}</button></td>
			</form>
			{% for course_grade in entry["course_grades"] %}
			<td>{{ course_grade }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
