/* CSS for SheepStudentVue */

/* Global */
:root {
	--bg-color: #fefefe;
	--bg-color-content: #eee;
	--bg-color-course: hsl(0, 0%, 95%);
	--bg-color-course-hover: hsl(0, 0%, 90%);
	--bg-color-course-selected: hsl(0, 0%, 80%);
	--bg-color-course: hsl(0, 0%, 95%);
	--corner-roundness: 1em;
}

html {
	font-family: sans-serif;
	background-color: var(--bg-color);
}

* {
	box-sizing: border-box;
	border-radius: var(--corner-roundness);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: red;
	text-align: center;
}

/* Widgets */
#content {
	margin: 0 auto;
	width: 90%;
	padding: 1em;
	background-color: var(--bg-color-content);
}

.course {
	margin: 0 auto;
	width: 90%; /* Will be wrapped in #content */
	padding: 1em;
	background-color: var(--bg-color-course);
}

.assignment {
	margin: 1em 1em;
	text-align: left;
}

footer {
	text-align: center;
	font-size: 0.75em;
}

/* Forms */
label,
input,
button[type="submit"] {
	margin: 0 auto;
	display: block;
	width: max-content;
	text-align: center;
}

/* Tabs */
.course-tabs {
	margin: 0 auto;
	width: max-content;
	padding: 1em;
	background-color: var(--bg-color-course);
}

.tab-button {
	background-color: inherit;
	cursor: pointer;
	padding: 14px 16px;
}

.tab-button.active {
	background-color: var(--bg-color-course-selected);
}

.tab-button:hover {
	background-color: var(--bg-color-course-hover);
}
