/* CSS for SheepStudentVue */

:root {
	--bg-color: wheat;
	--bg-color-content: pink;
	--bg-color-course: hsl(0, 0%, 95%);
	--corner-roundness: 1em;
}

html {
	font-family: sans-serif;
	background-color: var(--bg-color);
}

* {
	box-sizing: border-box;
	border-radius: var(--corner-roundness);
}

#content {
	margin: 0 auto;
	width: 90%;
	padding: 1em;
	background-color: var(--bg-color-content);
}

.course {
	margin: 0 auto;
	width: 90%; /* Will be wrapped in #content */
	padding: 1em;
	background-color: var(--bg-color-course);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: red;
	text-align: center;
}

.assignment {
	margin: 1em 1em;
	text-align: left;
}

footer {
	text-align: center;
	font-size: 0.75em;
}
