/* CSS for SheepStudentVue */

/* Global */
:root {
	--bg-color: linear-gradient(90deg, rgba(38, 64, 102, 1) 0%, rgba(46, 125, 194, 1) 100%);
	--bg-color-content: #fee;
	--bg-color-course: #ffb8d2;
	--bg-color-course-hover: #b3ecff;
	--bg-color-course-selected: #b3ecff;
	--bg-color-tab-button: #e3f8ff;
	--color-border-course: hsl(320, 100%, 19%);
	--corner-roundness: 0;
	--font-primary: sans-serif;
	--color-primary: black;
	--border-color: hsl(320, 100%, 19%);
}
html {
	font-family: var(--font-primary);
	background: var(--bg-color);
}
* {
	box-sizing: border-box;
	border-radius: var(--corner-roundness);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-primary);
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}
p {
	margin-top: 0;
	margin-bottom: 0.5em !important;
}

/* Widgets */
#content {
	margin: 0 auto;
	border: 2px solid var(--border-color);
	background: var(--bg-color-content);
	border-radius: 1em;
	padding-left: 1em;
	padding-right: 0;
	padding-bottom: 0;
}
.center {
	text-align: center;
	width: max-content;
	padding-right: 1em !important;
	margin: 0 auto;
	max-width: 50%;
}
.center > * {
	margin: 0 auto;
}
.grade-content {
	padding: 0 !important;
}
.course {
	margin: 0 auto;
}
.course-information {
	margin-top: 0.25em;
	width: 100%;
	font-size: larger;
	display: flex;
}
.course-information * {
	width: 100%;
	text-align: center;
}
.grade * {
	background: yellow;
}
.assignment {
	text-align: left;
}
footer {
	text-align: center;
	font-size: 0.75em;
}
legend {
	margin-left: 1em;
	border-radius: 1em;
	padding-left: 1em;
	padding-right: 1em;
	background: var(--bg-color-content);
	border: 2px solid var(--color-border-course);
}
.flashes {
	width: max-content;
	margin: 1em auto;
	background: red;
}
.flashes > h3 {
	color: white;
}

/* Forms */
label,
input,
button[type="submit"] {
	display: block;
	width: max-content;
	text-align: center;
}
button {
	cursor: pointer;
	border: none;
	padding: 0.75em 2em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: medium;
	background-color: var(--bg-color-tab-button);
}
td button {
	border: none !important;
}
nav > *:first-child button {
	border-top-left-radius: 1em;
}
nav > *:last-child button {
	border-bottom-right-radius: 1em;
}
button.active {
	background-color: var(--bg-color-course-selected);
}
button:hover {
	background-color: var(--bg-color-course-hover);
}
.inline {
	display: inline-block !important;
}
nav {
	border-top-left-radius: 1em;
	margin-left: auto;
	display: flex;
	width: max-content;
	border-left: 2px solid var(--border-color);
	border-top: 2px solid var(--border-color);
}
button:not(.nav-button) {
	border: 2px solid var(--border-color);
}
.nav-button {
	margin-right: 1em;
}
.nav-button:last-child {
	margin-right: 0 !important;
}

/* Tabs */
/* #course-tabs-label {
	margin-left: 1em;
	background: var(--bg-color-course);
	width: max-content;
	padding: 0 1em;
	padding-top: 0.125em;
	border-top: 2px var(--color-border-course) solid;
	border-left: 2px var(--color-border-course) solid;
	border-right: 2px var(--color-border-course) solid;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
} */
#course-tabs {
	display: flex;
	justify-content: center;
	width: max-content;
	border-radius: 1em;
	background-color: var(--color-border-course);
	border: 2px solid var(--color-border-course);
	padding: 0 !important;
}
.tab-button {
	cursor: pointer;
	padding: 1em 2em;
	border: none;
	outline: none;
}
.tab-button:first-child {
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}
.tab-button:last-child {
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}

/* Tables */
table,
td,
th {
	background-color: white;
	border: 2px solid var(--border-color);
	border-collapse: collapse;
}
table {
	margin: 1em auto;
	width: 100%;
}
table.grades-table th:first-child {
	width: 80%;
	height: 4em;
}
table.past-grades-table th:first-child {
	width: 20%;
	height: 2em;
}
td {
	text-align: center;
	padding: 0.5em 1em;
}
table.past-grades-table td {
	padding: 0 !important;
}
table,
th:first-child,
td:first-child {
	border-left: 0 solid var(--border-color) !important;
}
table,
th:last-child,
td:last-child {
	border-right: 0 solid var(--border-color) !important;
}
